@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Material+Icons+Outlined";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: normal;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-feature-settings: "palt";
  color: #f4f4f4;
  background-color: #323232;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

dt {
  font-weight: normal;
}

.l-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 500;
  /*  ==============================
  * ハンバーガーメニュー
  ============================== */
  /*  ==============================
  * グローバルナビ
  ============================== */
}
@media screen and (width > 1024px) {
  .l-header {
    padding: 32px;
  }
}
.l-header__logo {
  width: 160px;
}
@media screen and (width > 1024px) {
  .l-header__logo {
    width: 180px;
    flex-shrink: 0;
  }
}
.l-header__hamburger {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  z-index: 1500;
}
@media screen and (width > 1024px) {
  .l-header__hamburger {
    display: none;
  }
}
.l-header__hamburger.js-open span:nth-child(1) {
  translate: -50% 8px;
  rotate: -25deg;
}
.l-header__hamburger.js-open span:nth-child(2) {
  opacity: 0;
}
.l-header__hamburger.js-open span:nth-child(3) {
  translate: -50% 8px;
  rotate: 25deg;
}
.l-header__hamburger span {
  position: absolute;
  top: 8px;
  left: 50%;
  translate: -50% 0;
  width: 32px;
  height: 1px;
  background-color: #f4f4f4;
  display: block;
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
}
.l-header__hamburger span:nth-child(2) {
  translate: -50% 8px;
}
.l-header__hamburger span:nth-child(3) {
  translate: -50% 16px;
}
.l-header__gnav {
  position: fixed;
  width: 66.6666666667vw;
  height: 100vh;
  right: -100%;
  top: 0;
  background-color: #212121;
  padding: 0 16px;
  z-index: 1000;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
@media screen and (width > 1024px) {
  .l-header__gnav {
    width: 100%;
    height: auto;
    position: static;
    background: none;
  }
}
.l-header__gnav.js-open {
  box-shadow: 0 0 8px 16px #212121;
  right: 0;
}
.l-header__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
}
@media screen and (width > 1024px) {
  .l-header__list {
    flex-direction: row;
    justify-content: flex-end;
    -moz-column-gap: 4.4444444444vw;
         column-gap: 4.4444444444vw;
  }
}
.l-header__item {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  font-family: "Karantina", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0.05em;
}
@media screen and (width > 768px) {
  .l-header__item {
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    flex-shrink: 0;
  }
}
.l-header__item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (width > 1024px) {
  .l-header__item a {
    gap: 8px;
  }
}
.l-header__item span {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: normal;
}
@media screen and (width > 768px) {
  .l-header__item span {
    font-size: 1rem;
    line-height: 1;
  }
}

.section {
  padding: 32px 0;
}
@media screen and (width > 768px) {
  .section {
    padding: 80px 0;
  }
}

.l-containerL {
  width: 100%;
  max-width: 1152px;
  padding: 0 16px;
  margin: 0 auto;
}

.l-footer {
  display: grid;
  place-content: center;
  padding: 48px 16px;
  font-size: 0.75rem;
  line-height: 1;
}

.c-headingL {
  width: 100%;
  display: flex;
  align-items: baseline;
  gap: 16px;
  padding-bottom: 4px;
  border-bottom: 4px solid #9a9a9a;
}
.c-headingL__title {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  font-family: "Karantina", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: 0.05em;
}
@media screen and (width > 768px) {
  .c-headingL__title {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: bold;
    font-family: "Karantina", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    letter-spacing: 0.05em;
  }
}
.c-headingL__sub {
  font-size: 0.75rem;
  line-height: 1;
}
@media screen and (width > 768px) {
  .c-headingL__sub {
    font-size: 1rem;
    line-height: 1;
  }
}
.c-headingL--align-right {
  justify-content: flex-end;
}
@media screen and (width > 768px) {
  .c-headingL--align-centerPC {
    justify-content: center;
  }
}

.c-swiper-wrapper {
  position: relative;
  margin-top: 24px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  aspect-ratio: 375/200;
}
@media screen and (width > 768px) {
  .c-swiper-wrapper {
    margin: 0;
    width: 53.5714285714%;
  }
}
.c-swiper__caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% calc(100% + 8px);
  color: #f4f4f4;
  line-height: 1;
  font-weight: bold;
}
@media screen and (width > 768px) {
  .c-swiper__caption {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
  }
}
.c-swiper__adjustBottom {
  height: 30px;
}

.swiper-slide {
  width: 100%;
  aspect-ratio: 375/200;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: "Material Icons";
  content: "\e314";
  color: #f4f4f4;
  display: grid;
  place-content: center;
}

.swiper-button-next::after {
  content: "\e315";
}

.swiper-pagination {
  position: absolute;
  bottom: -8px !important;
  height: 8px;
  padding-right: 16px;
  text-align: right;
}

.swiper-pagination-bullet {
  background-color: #9a9a9a;
}

.swiper-pagination-bullet-active {
  background-color: #4666ff;
}

.c-accordion-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px 0;
}
.c-accordion__title {
  width: 100%;
  height: 40px;
  line-height: 1;
  border-bottom: 1px solid #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media screen and (width > 768px) {
  .c-accordion__title {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
    border: none;
  }
}
.c-accordion__title::after {
  content: "\e145";
  font-family: "Material Icons";
  font-size: 1.5rem;
}
@media screen and (width > 768px) {
  .c-accordion__title::after {
    content: "";
  }
}
.c-accordion__title.js-accordion-open::after {
  content: "\e15b";
}
@media screen and (width > 768px) {
  .c-accordion__title.js-accordion-open::after {
    content: "";
  }
}
.c-accordion__scroll {
  overflow-x: hidden;
}

.c-item-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px 0;
  row-gap: 16px;
}
@media screen and (width > 768px) {
  .c-item-list {
    flex-wrap: nowrap;
    scrollbar-width: none;
  }
}
.c-item-list::-webkit-scrollbar {
  display: none;
}
.c-item-list__item {
  width: 46.6472303207%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4px;
  text-align: center;
}
@media screen and (width > 768px) {
  .c-item-list__item {
    width: 240px;
    flex-shrink: 0;
  }
}
.c-item-list__img {
  width: 75%;
}

.c-plan {
  border-radius: 4px;
  box-shadow: 4px 4px 4px #151515, -4px -4px 4px #6a6b6e;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 343px;
}
.c-plan__title {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.c-plan__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 16px;
  background-color: #4666ff;
  position: absolute;
  bottom: -8px;
  z-index: -1;
}
.c-plan__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
}
.c-plan__menu-item {
  width: 100%;
}
.c-plan__menu-title {
  line-height: 1;
  font-weight: bold;
  box-shadow: 4px 4px 4px #151515, -4px -4px 4px #6a6b6e;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.c-plan__menu-title--hour::before, .c-plan__menu-title--night::before {
  font-family: "Material Icons Outlined";
  font-size: 1rem;
  font-weight: normal;
}
.c-plan__menu-title--hour::before {
  content: "\e855";
}
.c-plan__menu-title--night::before {
  content: "\e51c";
}

.c-btn {
  border: 1px solid #f4f4f4;
  display: grid;
  place-content: center;
  max-width: 260px;
  margin: 0 auto;
  padding: 24px;
  position: relative;
  background-color: #212121;
  transition-duration: 0.3s;
}
.c-btn::before, .c-btn::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #f4f4f4;
  position: absolute;
  top: 50%;
  transition-duration: 0.3s;
}
.c-btn::before {
  width: 80px;
  right: -40px;
}
.c-btn::after {
  width: 15px;
  right: -40px;
  transform-origin: 100% 0;
  rotate: 22deg;
}
.c-btn:hover {
  background-color: #f4f4f4;
  color: #111111;
}
.c-btn:hover::before, .c-btn:hover::after {
  translate: 5px 0;
}

.top .p-hero {
  background-image: url("../img/studio_SP.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 540px;
  position: relative;
}
@media screen and (width > 768px) {
  .top .p-hero {
    background-image: url("../img/studio03.jpg");
    height: 100vh;
  }
}
.top .p-hero__texts {
  position: absolute;
  top: 88px;
  left: 0;
  width: 100%;
  text-align: center;
}
@media screen and (width > 768px) {
  .top .p-hero__texts {
    top: 160px;
  }
}
.top .p-hero__lead {
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  letter-spacing: 0.05em;
}
.top .p-hero__title {
  font-family: "Karantina", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1;
  margin-top: 64px;
}
@media screen and (width > 768px) {
  .top .p-hero__title {
    margin-top: 0px;
    font-size: 8rem;
  }
}

.top .p-about .l-containerL {
  display: flex;
  flex-direction: column;
}
@media screen and (width > 768px) {
  .top .p-about .l-containerL {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 100px;
  }
}
@media screen and (width > 768px) {
  .top .p-about__inner {
    width: 37.5%;
  }
}
.top .p-about__text {
  margin-top: 24px;
}

.top .p-equipments {
  background-color: #212121;
}

.top .p-plan__plan-list {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  row-gap: 32px;
  -moz-column-gap: min(4vw, 40px);
       column-gap: min(4vw, 40px);
  flex-wrap: wrap;
}
@media screen and (width > 768px) {
  .top .p-plan__plan-list {
    flex-direction: row;
  }
}
.top .p-basic-price {
  display: grid;
  grid-template-columns: 56% 44%;
  padding: 16px 0 0;
}
.top .p-basic-price__title, .top .p-basic-price__price {
  text-align: center;
  padding: 8px 0;
}
.top .p-basic-price__title:first-of-type, .top .p-basic-price__price:first-of-type {
  border-bottom: 1px solid #9a9a9a;
}
.top .p-secondary-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 0;
  gap: 8px;
}
.top .p-secondary-price__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top .p-secondary-price__title::after {
  content: "\ead0";
  font-family: "Material Icons";
  display: block;
  font-size: 2rem;
  color: #9a9a9a;
}
.top .p-secondary-price__accent1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  font-family: "Karantina", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  position: relative;
}
.top .p-secondary-price__accent1--with-note::after {
  content: attr(data-note);
  font-size: 0.75rem;
  font-weight: normal;
  font-family: "Noto Sans JP";
  position: absolute;
  top: 50%;
  right: 0;
  translate: calc(100% + 8px);
}
.top .p-secondary-price__accent2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  font-family: "Karantina", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 2rem;
}
.top .p-tertiary-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 0;
  line-height: 1;
  font-weight: bold;
}
.top .p-student-discount {
  max-width: 418px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  position: relative;
}
.top .p-student-discount::before, .top .p-student-discount::after {
  content: "";
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}
.top .p-student-discount::after {
  top: auto;
  bottom: 0;
}
.top .p-student-discount__title {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  text-align: center;
}
.top .p-student-discount__lead {
  text-align: center;
}

.top .p-access {
  background-color: #212121;
}
.top .p-access__map {
  width: 100%;
  aspect-ratio: 375/300;
  margin-top: 32px;
}
@media screen and (width > 768px) {
  .top .p-access__map {
    aspect-ratio: 1440/500;
  }
}
.top .p-access__map iframe {
  width: 100%;
  height: 100%;
}
.top .p-info {
  padding: 32px 0 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.top .p-info__item {
  width: 100%;
}
.top .p-info__title {
  display: block;
  width: 100%;
  line-height: 1;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 8px;
  text-align: center;
}
.top .p-info__text {
  margin-top: 8px;
}

.u-upper-case {
  text-transform: uppercase;
}

.u-block {
  display: block;
}

.u-block-onlySP {
  display: block;
}
@media screen and (width > 768px) {
  .u-block-onlySP {
    display: inline;
  }
}

@media screen and (width > 768px) {
  .u-block-onlyPC {
    display: block;
  }
}

.u-adjust-char-pos {
  display: inline-block;
  translate: 0 -0.05em;
}

.u-ml8 {
  margin-left: 8px;
}

.u-ml16 {
  margin-left: 16px;
}/*# sourceMappingURL=style.css.map */