@use "../../global" as *;

.c-headingL {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 16px;
    padding-bottom: 4px;
    border-bottom: 4px solid $c_line_gray;

    &__title {
        @include setFont($fs_section_title_SP);
        @include media {
            @include setFont($fs_section_title_PC);
        }
    }

    &__sub {
        @include setFont($fs_section_ja_SP);
        @include media {
            @include setFont($fs_section_ja_PC);
        }
    }

    &--align-right {
        justify-content: flex-end;
    }
}
