@use "../../global" as *;

.u-upper-case {
    text-transform: uppercase;
}

.u-block {
    display: block;
}

.u-block-onlySP {
    display: block;
    @include media {
        display: inline;
    }
}
.u-block-onlyPC {
    @include media {
        display: block;
    }
}
.u-adjust-char-pos {
    display: inline-block;
    translate: 0 -0.05em;
}
