@use "../global" as *;

.l-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 500;

    @include media("pcL") {
        padding: 32px;
    }

    &__logo {
        width: 160px;
        @include media("pcL") {
            width: 180px;
            flex-shrink: 0;
        }
    }

    /*  ==============================
    * ハンバーガーメニュー
    ============================== */
    &__hamburger {
        position: fixed;
        top: 16px;
        right: 16px;
        width: 32px;
        height: 32px;
        z-index: 1500;

        @include media("pcL") {
            display: none;
        }

        &.js-open {
            span {
                &:nth-child(1) {
                    translate: -50% 8px;
                    rotate: -25deg;
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    translate: -50% 8px;
                    rotate: 25deg;
                }
            }
        }

        span {
            position: absolute;
            top: 8px;
            left: 50%;
            translate: -50% 0;
            width: 32px;
            height: 1px;
            background-color: $c_font_white;
            display: block;
            transform-origin: 50% 50%;
            transition-duration: $dur_def;

            &:nth-child(2) {
                translate: -50% 8px;
            }
            &:nth-child(3) {
                translate: -50% 16px;
            }
        }
    }

    /*  ==============================
    * グローバルナビ
    ============================== */
    &__gnav {
        position: fixed;
        width: 66.66666666666667vw;
        height: 100vh;
        right: -100%;
        top: 0;
        background-color: $c_bg_black;
        padding: 0 16px;
        z-index: 1000;
        transition-duration: $dur_def;
        transition-timing-function: ease-out;

        @include media("pcL") {
            width: 100%;
            height: auto;
            position: static;
            background: none;
        }

        &.js-open {
            box-shadow: 0 0 8px 16px #212121;
            right: 0;
        }
    }

    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 32px;

        @include media("pcL") {
            flex-direction: row;
            justify-content: flex-end;
            column-gap: 4.444444444444445vw;
        }
    }

    &__item {
        @include setFont($fs_section_title_SP);

        @include media {
            @include setFont($fs_body_PC_lh100per);
            font-weight: bold;
            font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
            flex-shrink: 0;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            @include media("pcL") {
                gap: 8px;
            }
        }

        span {
            @include setFont($fs_small);
            font-weight: normal;

            @include media {
                @include setFont($fs_body_PC_lh100per);
            }
        }
    }
}
